body {
	font-family: 'Raleway', 'sans-serif';
	background-color: #fff;
  }
  
  ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  p {
	font-size: 14px;
	color: #7a7a7a;
	line-height: 24px;
	left: 0.25px;
	text-align: justify;
  }
  
  section {
	padding-top: 80px;
	padding-bottom: 80px;
  }
  
  
  .section-heading {
	text-align: center;
	margin-bottom: 60px;
  }
  
  .section-heading span {
	font-size: 17px;
	display: block;
	margin: 0px;
	color: #4883ff;
  }
  
  .section-heading h2 {
	margin-bottom: 0px;
	margin-top: 14px;
	font-size: 23px;
	font-weight: 600;
	color: #232323;
	letter-spacing: 0.5px;
  }
  
  
  .blue-button a {
	display: inline-block;
	background-color: #4883ff;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	padding: 10px 16px;
	text-decoration: none;
	border: 2px solid #4883ff;
	transition: all 0.5s;
  }
  
  .blue-button a:hover {
	background-color: transparent;
	color: #4883ff;
  }
  
  
  /* Header Style */
  
  #header {
	overflow: visible;
	position: relative;
	background-color: #fff;
  }
    
  #header .logo {
	float: left;
  }
  
  #header .logo img {
	padding-top: 10px;
	width: 100%;
	overflow: hidden;
  }
  
  .menu {
	float: right;
  }
  
  .menu li {
	float: left;
	margin-left: 30px;
	position: relative;
	line-height: 100px;
  }
  
  .menu li:last-child {
	margin-right: 0;
  }
  
  .menu li a {
	display: block;
	text-decoration: none;
  }
  
  #primary-nav li a {
	color: #121212;
	font-weight: bold;
	line-height: 100px;
	padding: 0px 15px;
	font-size: 15px;
	font-weight: 400;
	transition: all 0.5s;
  }
  
  #primary-nav .active > a,
  #primary-nav li > a:hover,
  #primary-nav li.selected > a {
	color: #4883ff;
  }
    
  /* Banner Style */
  
  section.banner {
	padding: 0px;
  }
  
  .banner {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
  
  .thumb-img { 
	position: relative; 
  }
  
  .thumb-img img { 
	position: relative; z-index: 2; 
  }
  
  .input-group-addon:last-child { 
	border: 1px solid rgba(0,0,0,.05); 
  }
  
  .thumb-img:before,
  .banner:before { 
	content: ''; 
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background-color: rgba(0,0,0,.3); 
	z-index: 1;
	border-radius: 5px;
  }
  
  .thumb-img:before { 
	z-index: 3; 
	background-color: rgba(0,0,0,.3); 
  }
  
  .featured-item .thumb-img:before {  
	border-bottom-left-radius: 0; 
	border-bottom-right-radius: 0; 
  }
  
  .banner .container {
	position: relative;
	z-index: 2;
  }
  
  .banner .banner-caption {
	padding: 200px 0px;
  }
  
  .banner-secondary .banner-caption {
	padding: 90px 0px;
  }
  
  .banner .banner-caption .line-dec {
	width: 80px;
	height: 3px;
	background-color: #4883ff;
  }
  
  .banner .banner-caption h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 42px;
	letter-spacing: 0.5px;
	color: #fff;
  }
     
  .featured-item { 
	margin-bottom: 30px; 
  }
  
  .featured-places .featured-item .thumb {
	position: relative;
	z-index: 1;
  }
  
  .featured-places .featured-item .thumb img {
	width: 100%;
	overflow: hidden;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
  }
  
  .featured-places .featured-item .thumb .overlay-content {
	position: absolute;
	z-index: 9;
	top: 30px;
	left: 30px;
	color: #fff;
  }
  
  .featured-places .featured-item .thumb .overlay-content li {
	display: inline;
	margin-right: 3px;
  }
    
  .featured-places .featured-item .down-content {
	background-color: #fff;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
	padding: 20px 20px 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
  }
  
  .featured-places .featured-item .down-content h4 {
	margin-top: 0px;
	font-size: 20px;
	font-weight: 600;
	color: #232323;
	margin-bottom: 5px;
  }
  
  .featured-places .featured-item .down-content span {
	display: block;
	font-size: 14px;
	color: #4883ff;
	margin-bottom: 15px;
  }
  
  .featured-places .featured-item .down-content span strong { 
	font-size: 22px;  
  }
  
  .featured-places .featured-item .down-content p {
	margin-bottom: 20px;
  }
  
  .featured-places .featured-item .down-content .col-md-6 {
	padding-left: 0px;
	padding-right: 0px;
  }
  
  .featured-places .featured-item .down-content .text-button {
	text-align: center;
	height: 50px;
	line-height: 50px;
	border-top: 1px solid #ddd;
	margin: 0px -20px;
  }
  
  .featured-places .featured-item .down-content .text-button a {
	font-size: 12px;
	text-transform: uppercase;
	color: #7a7a7a;
	letter-spacing: 0.5px;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	transition: all 0.5s;
  }
  
  .featured-places .featured-item .down-content .text-button a:hover {
	color: #4883ff;
  }
  
  .our-services .left-content h4 {
	font-size:  19px;
	font-weight:  600;
	color:  #232323;
	margin-top: 0px;
	margin-bottom:  25px;
  }
  
  .our-services .left-content .blue-button {
	margin-top: 25px;
  }
   
  section#contactimg-container {
	background-image: url(../image/contact-img.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
    
  #contactimg-container  {
	position: relative;
	width: 100%;
	height: 560px;
	overflow: hidden;
	z-index: 1;
  }
  
  #contactimg-container contactimg,
  .contactimg-overlay {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
  }
  
  #contactimg-container .contactimg-overlay {
	z-index: 9999;
	background: rgba(0,0,0,0.3);
	width: 100%;
  }
  
  #contactimg-container .contactimg-content {
	z-index: 99999;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
  }
  
  .contactimg-content p { 
	line-height: 2; 
	color: #fff; 
	text-align: center; 
  }
  
  #contactimg-container .contactimg-content .inner {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
  }
  
  #contactimg-container .contactimg-content .inner span {
	font-size: 17px;
	display: block;
	margin: 0px;
	color: #fff;
  }
  
  #contactimg-container .contactimg-content .inner h2 {
	margin-bottom: 0px;
	margin-top: 14px;
	font-size: 23px;
	font-weight: 500;
	color: #fff;
	letter-spacing: 0.5px;
  }
  
  #contactimg-container .contactimg-content .inner a.contactimg-action {
	margin-top: 30px;
	width: 60px;
	height: 60px;
	display: inline-block;
	text-align: center;
	line-height: 56px;
	color: #fff;
	background-color: rgba(250,250,250,0.1);
	font-size: 18px;
	border: 3px solid #fff;
	border-radius: 50%;
  }
  
  footer {
	padding: 80px 0px 70px 0px;
	border-top: 1px solid #ddd;
  }
  
  footer .footer-heading h4 {
	font-size: 21px;
	color: #232323;
	letter-spacing: 0.5px;
	margin-top: 15px;
	margin-bottom: 40px;
  }
  
  
  footer .about-veno .logo {
	margin-bottom: 40px;
  }
  
  footer .about-veno ul li a {
	width: 32px;
	height: 32px;
	display: inline-block;
	text-align: center;
	line-height: 32px;
	background-color: #cdcdcd;
	border-radius: 50%;
	font-size: 15px;
	color: #fff;
	margin-right: 3px;
	transition: all 0.5s;
  }
  
  footer .about-veno p {
	margin-bottom: 25px;
  }
  
  footer .about-veno ul li a:hover {
	background-color: #4883ff;
  }
  
  footer .useful-links ul li {
	margin-bottom: 12px;
  }
  
  footer .useful-links ul li a {
	font-size: 15px;
	color: #7a7a7a;
	letter-spacing: 0.5px;
	text-decoration: none;
	transition: all 0.5s;
  }
  
  footer .useful-links ul li a:hover {
	color: #4883ff;
  }
  
  footer .useful-links ul li i {
	color: #4883ff;
	font-size: 6px;
	position: relative;
	top: -3px;
	margin-right: 8px;
  }
  
  footer .contact-info p {
	margin-bottom: 25px;
  }
  
  footer .contact-info ul li {
	margin: 10px 0px;
  }
  
  footer .contact-info ul li span {
	font-size: 13px;
	color: #7a7a7a;
	font-weight: 600;
	letter-spacing: 0.3px;
	width: 80px;
	display: inline-block;
  }
  
  footer .contact-info ul li a {
	font-size: 13px;
	color: #4883ff;
	letter-spacing: 0.5px;
	text-decoration: none;
  }
  
  .sub-footer p {
	text-align: center;
	display: inline-block;
	background-color: #f4f4f4;
	width: 100%;
	margin-bottom: 0px;
	padding: 30px 0px;
	font-size: 15px;
	color: #aaaaaa;
  }
  
  @media (max-width:992px) {
	
	.banner .banner-caption {
	  padding: 200px 30px;
	}
  
	.banner-secondary .banner-caption {
	  padding: 90px 0px;
	}
  
	.featured-places .featured-item {
	  margin-bottom: 30px;
	}
  
	.featured-places .featured-item .down-content .first-button {
	  border-right: none;
	}
  
	section.our-services .service-item {
	  margin-bottom: 30px;
	}

	#contactimg-container .contactimg-content {
	  padding: 0 30px;
	  text-align: center;
	}
  
	footer .useful-links {
	  margin-top: 60px;
	}
  
	footer .contact-info {
	  margin-top: 60px;
	}
  }
  
  main > section { 
	background: #fff;  
  }
	
  main > section:nth-child(even) { 
	background: #f8f8f8; 
  }